* {
    text-align: justify;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
p,
{
padding: 15px;
}

footer a,
p {
    font-size: small;
}

body,
header {
    width: 100%;
}

header h2#top1 {
    margin-top: 50px;
}

a {
    text-decoration: none;
    color: white;
}

p,
h2 {
    font-size: x-large;
    text-align: center;
}

ul {
    list-style: none;
}

ul#block-p1 li {
    align-items: center;
}

@media (max-width: 750px) {
    ul#block-p1 li {
        text-align: center;
        align-items: center;
    }
}

li {
    margin: 15px;
    padding: 10px;
}

video {
    display: block;
    width: 100%;
}

.mais ul,
.beneficios ul {
    margin: auto;
    columns: 2;
}

.flex {
    display: flex;
}

.logoAcai {
    display: block;
    margin: auto;
    max-width: 285px;
}

div#interface-cardapio ul {
    display: flex;
}

@media (max-width: 750px) {
    div#interface-cardapio ul {
        display: block;
    }
}

@media (max-width: 700px) {
    div.flex-mobile {
        display: block;
        margin: auto;
        width: 100%;
    }

    .mais ul,
    .beneficios ul {
        columns: 1;
    }
}

input {
    width: 100%;
    padding: 3px;
}

input,
select {
    background-color: rgba(137, 43, 226, 0.61);
    border-radius: 5px;
}

section {
    padding: 5px;
    margin: auto;
}

label {
    display: flex;
    margin: 15px;
    height: 34px;
    max-width: 500px;
}

label p {
    text-align: justify;
    font-size: medium;
}

#ppt li {
    border-radius: 15px;
    padding: 5px;
    background-color: rgba(137, 43, 226, 0.61);
    color: black;

}

button {
    color: black;
    background-color: rgba(137, 43, 226, 0.61);
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
}

section {
    background-color: #81878C;
}

.problema {
    padding: 15px;
}

section#secHeader {
    padding: 15px;
}

section#AcaiBot {
    max-width: 80%;
    margin: auto;
}

section#AcaiBot li {
    margin: auto;
    text-align: center;
}

div#listaDeSabores img {
    display: block;
    max-width: 50px;
}

picture#logoAcai img {
    display: block;
    margin: auto;
    max-width: 185px;
    border-bottom: 2px solid rgba(137, 43, 226, 0.61);
}

#destaque01 {
    margin: 15px;
    padding: 15px;
    background-color: white;
}

a {
    color: black;
    width: 100%;
}

form {
    padding: 15px;
}

div#select {
    display: flex;
}

img#pngSorverte {
    display: block;
    max-width: 285px;
    margin: auto;
}

picture#pic-pngSorverte {
    display: flex;
}

@media (max-width: 500px; ) {
    picture#pic-pngSorverte {
        display: block;
    }
}

picture#pic-pngSorverte {
    display: flex;
}

@media (max-width: 500px) {
    picture#pic-pngSorverte {
        display: block;
    }
}

.container-flex {
    margin: auto;
    max-width: 800px;
}

div.p1 {
    padding: 50px;
    margin-top: 50px;
}

div.p1 h1 {
    margin-top: 50px;

}

picture#icone-instagram img {
    display: block;
    max-width: 65px;
    margin: 15px;
}

picture#icone-facebook img {
    display: block;
    max-width: 65px;
    margin: 15px;
}