<!DOCTYPE html>
<html lang="pt-br">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/style.css">
        <link rel="shortcut icon" href="../static/logo Acai.png" type="image/x-icon">
        <title>Sabores de Sorvete</title>
</head>

<body>
        <header>
                <h1 id="nomeDoEstabelecimento">

                </h1>
                <h2>

                </h2>
                <label for="">

                </label>
                <label for="" id="avaliacoes">

                </label>
                <p id="entregaDataEHoraValor">

                </p>
        </header>
        <section id="destaques">
                <div id="destaque01">
                                <label for="" id="valorProduto">
                                        a partir de
                                </label>
                                <h2 id="numberValorProduto">
                                        R$ 22,50
                                </h2>
                                <a href="casadinhoDeLeiteNinho.html">
                                <p id="descricaoDoProduto">
                                        Casadinho de leite Ninho
                                </p>
                                <img src="" alt="">
                        </a>
                </div>
                <div id="destaque02">
                        <label for="" id="valorProduto">

                        </label>
                        <h2 id="numberValorProduto">

                        </h2>
                        <p id="descricaoDoProduto">

                        </p>
                </div>
                <div id="destaque03">
                        <label for="" id="valorProduto">

                        </label>
                        <h2 id="numberValorProduto">

                        </h2>
                        <p id="descricaoDoProduto">

                        </p>
                </div>
                <div id="destaque04">
                        <label for="" id="valorProduto">

                        </label>
                        <h2 id="numberValorProduto">

                        </h2>
                        <p id="descricaoDoProduto">

                        </p>
                </div>
                <div id="destaque05">
                        <label for="" id="valorProduto">

                        </label>
                        <h2 id="numberValorProduto">

                        </h2>
                        <p id="descricaoDoProduto">

                        </p>
                </div>
                <div id="destaque06">
                        <label for="" id="valorProduto">

                        </label>
                        <h2 id="numberValorProduto">

                        </h2>
                        <p id="descricaoDoProduto">

                        </p>
                </div>
        </section>
        <section id="acaiECasadinho">
                <div id="acaiECasadinho01">
                        <label for="" id="valorProduto">

                        </label>
                        <h2 id="numberValorProduto">

                        </h2>
                        <p id="descricaoDoProduto">

                        </p>
                </div>
                <div id="acaiECasadinho02">
                        <label for="" id="valorProduto">

                        </label>
                        <h2 id="numberValorProduto">

                        </h2>
                        <p id="descricaoDoProduto">

                        </p>
                </div>
                <div id="acaiECasadinho03">
                        <label for="" id="valorProduto">

                        </label>
                        <h2 id="numberValorProduto">

                        </h2>
                        <p id="descricaoDoProduto">

                        </p>
                </div>
                <div id="acaiECasadinho04">
                        <label for="" id="valorProduto">

                        </label>
                        <h2 id="numberValorProduto">

                        </h2>
                        <p id="descricaoDoProduto">

                        </p>
                </div>
                <div id="acaiECasadinho05">
                        <label for="" id="valorProduto">

                        </label>
                        <h2 id="numberValorProduto">

                        </h2>
                        <p id="descricaoDoProduto">

                        </p>
                </div>
                <div id="acaiECasadinho06">
                        <label for="" id="valorProduto">

                        </label>
                        <h2 id="numberValorProduto">

                        </h2>
                        <p id="descricaoDoProduto">

                        </p>
                </div>
        </section>
        <section id="novidades">
                <div id="novidades01">
                        <label for="" id="valorProduto">

                        </label>
                        <h2 id="numberValorProduto">

                        </h2>
                        <p id="descricaoDoProduto">

                        </p>
                </div>
                <div id="novidades02">
                        <label for="" id="valorProduto">

                        </label>
                        <h2 id="numberValorProduto">

                        </h2>
                        <p id="descricaoDoProduto">

                        </p>
                </div>
                <div id="novidades03">
                        <label for="" id="valorProduto">

                        </label>
                        <h2 id="numberValorProduto">

                        </h2>
                        <p id="descricaoDoProduto">

                        </p>
                </div>
                <div id="novidades04">
                        <label for="" id="valorProduto">

                        </label>
                        <h2 id="numberValorProduto">

                        </h2>
                        <p id="descricaoDoProduto">

                        </p>
                </div>
                <div id="novidades05">
                        <label for="" id="valorProduto">

                        </label>
                        <h2 id="numberValorProduto">

                        </h2>
                        <p id="descricaoDoProduto">

                        </p>
                </div>
                <div id="novidades06">
                        <label for="" id="valorProduto">

                        </label>
                        <h2 id="numberValorProduto">

                        </h2>
                        <p id="descricaoDoProduto">

                        </p>
                </div>
        </section>
        <section id="adicionais">
                <div id="adicionais01">
                        <label for="" id="valorProduto">

                        </label>
                        <h2 id="numberValorProduto">

                        </h2>
                        <p id="descricaoDoProduto">

                        </p>
                </div>
                <div id="adicionais02">
                        <label for="" id="valorProduto">

                        </label>
                        <h2 id="numberValorProduto">

                        </h2>
                        <p id="descricaoDoProduto">

                        </p>
                </div>
                <div id="adicionais03">
                        <label for="" id="valorProduto">

                        </label>
                        <h2 id="numberValorProduto">

                        </h2>
                        <p id="descricaoDoProduto">

                        </p>
                </div>
                <div id="adicionais04">
                        <label for="" id="valorProduto">

                        </label>
                        <h2 id="numberValorProduto">

                        </h2>
                        <p id="descricaoDoProduto">

                        </p>
                </div>
                <div id="adicionais05">
                        <label for="" id="valorProduto">

                        </label>
                        <h2 id="numberValorProduto">

                        </h2>
                        <p id="descricaoDoProduto">

                        </p>
                </div>
                <div id="adicionais06">
                        <label for="" id="valorProduto">

                        </label>
                        <h2 id="numberValorProduto">

                        </h2>
                        <p id="descricaoDoProduto">

                        </p>
                </div>
        </section>
        <section id="milkShakes">
                <div id="milkShakes01">
                        <label for="" id="valorProduto">

                        </label>
                        <h2 id="numberValorProduto">

                        </h2>
                        <p id="descricaoDoProduto">

                        </p>
                </div>
                <div id="milkShakes02">
                        <label for="" id="valorProduto">

                        </label>
                        <h2 id="numberValorProduto">

                        </h2>
                        <p id="descricaoDoProduto">

                        </p>
                </div>
                <div id="milkShakes03">
                        <label for="" id="valorProduto">

                        </label>
                        <h2 id="numberValorProduto">

                        </h2>
                        <p id="descricaoDoProduto">

                        </p>
                </div>
                <div id="milkShakes04">
                        <label for="" id="valorProduto">

                        </label>
                        <h2 id="numberValorProduto">

                        </h2>
                        <p id="descricaoDoProduto">

                        </p>
                </div>
                <div id="milkShakes05">
                        <label for="" id="valorProduto">

                        </label>
                        <h2 id="numberValorProduto">

                        </h2>
                        <p id="descricaoDoProduto">

                        </p>
                </div>
                <div id="milkShakes06">
                        <label for="" id="valorProduto">

                        </label>
                        <h2 id="numberValorProduto">

                        </h2>
                        <p id="descricaoDoProduto">

                        </p>
                </div>
        </section>
        <section id="sucosEspeciais">
                <div id="sucosEspeciais01">
                        <label for="" id="valorProduto">

                        </label>
                        <h2 id="numberValorProduto">

                        </h2>
                        <p id="descricaoDoProduto">

                        </p>
                </div>
                <div id="sucosEspeciais02">
                        <label for="" id="valorProduto">

                        </label>
                        <h2 id="numberValorProduto">

                        </h2>
                        <p id="descricaoDoProduto">

                        </p>
                </div>
                <div id="sucosEspeciais03">
                        <label for="" id="valorProduto">

                        </label>
                        <h2 id="numberValorProduto">

                        </h2>
                        <p id="descricaoDoProduto">

                        </p>
                </div>
                <div id="sucosEspeciais04">
                        <label for="" id="valorProduto">

                        </label>
                        <h2 id="numberValorProduto">

                        </h2>
                        <p id="descricaoDoProduto">

                        </p>
                </div>
                <div id="sucosEspeciais05">
                        <label for="" id="valorProduto">

                        </label>
                        <h2 id="numberValorProduto">

                        </h2>
                        <p id="descricaoDoProduto">

                        </p>
                </div>
                <div id="sucosEspeciais06">
                        <label for="" id="valorProduto">

                        </label>
                        <h2 id="numberValorProduto">

                        </h2>
                        <p id="descricaoDoProduto">

                        </p>
                </div>
        </section>
        <button id="btnCardapio">
                <a
                        href="https://api.whatsapp.com/send?phone=553499896614&text=Ol%C3%A1,%20eu%20quero%20fazer%20um%20pedido%20!">
                        Fazer meu pedido
                </a>
        </button>
        <footer style="align-items: center; justify-content: center;">
                <video muted loop autoplay>
                        <source media="(min-width: 501px)" src="../static/AÇAI BOT.mp4"
                                style="video::internal-media-controls{display: ;}">
                        <source media="(max-width: 500px)" src="../static/AÇAI BOT mobille.mp4"
                                style="video::internal-media-controls{display: ;}">
                </video>
                <a href="https://pablo-kennediy.github.io/curriculo/" style="color: black;">infoprodutos.org</a>
                © 2024 | Todos os
                direitos
                reservados
        </footer>
</body>

</html>