<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
</head>
<body>
    <div class="interface">
        <h2>
            Seu pedido em
        </h2>
        <h1>

        </h1>
        <h3>
            Ver catálogo
        </h3>
        <div id="itens">

        </div>
        <h2>
            Subtotal
        </h2>
        <label for="">

        </label>
        <h2>
            Taxa de entrega
        </h2>
<h4>Total</h4>
<label for="">

</label>
<button>
<a href="formaDePagamento.html">
    Escolher forma de pagamento
</a>
</button>
    </div>
</body>
</html>