<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casadinho de leite Ninho</title>
</head>

<body>
    <h1 id="tituloProduto">

    </h1>
    <h2 id="descricao">

    </h2>
    <label for="" id="valorProduto">

    </label>
    <section id="maps">

    </section>
    <section id="Tamanho">

    </section>
    <section id="opcionais">

    </section>
    <section id="adicionais">

    </section>
    <section id="frutasPicadas">

    </section>
    <section id="embalagem">

    </section>
    <section id="sorvete">

    </section>
    <button id="observacao">

    </button>
    <p>Denunciar item</p>
    <a href="adicionar.html">
        <button id="adicionarAoCarrinho">

        </button>
    </a>
</body>

</html>