<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casadinho de leite Ninho</title>
</head>

<body>
    <h1 id="tituloProduto">
        Casadinho De Leite Ninho
    </h1>
    <h2 id="descricao">
        Lorem ipsum
    </h2>
    <label for="" id="valorProduto">
        R$ 22,50
    </label>
    <section id="Tamanho">
        <select name="300ml" id="">
            <option value="">
                300 ml
            </option>
            <option value="">
                700 ml
            </option>
            <option value="">
                1 litro
            </option>
        </select>
    </section>
    <section id="opcionais">

    </section>
    <section id="adicionais">

    </section>
    <section id="frutasPicadas">

    </section>
    <section id="embalagem">

    </section>
    <section id="sorvete">

    </section>
    <button id="observacao">

    </button>
    <p>Denunciar item</p>
    <a href="carrinho.html">
        <button id="adicionarAoCarrinho">

        </button>
    </a>
</body>

</html>