<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formas de pagamento</title>
</head>

<body>
    <h1>
        FORMAS DE PAGAMENTO
    </h1>
    <div>
        <h3>
            PAGUE PELO APP
        </h3>
        <div class="id-pagamentos">
            <label for="" class="pix">
                <img src="" alt="">
                <h1>
                    PIX
                </h1>
            </label>
            <label for="">
                <img src="" alt="">
                <h1>
                    Crédito
                </h1>
            </label>
            <label for="">
                <img src="" alt="">
                <h1>
                    Débito
                </h1>
            </label>
        </div>
    </div>
    <div>
        <h3>
            PAGUE NA ENTREGA
        </h3>
        <div class="resumopagamentonaentrega">
            <h2>
                Precisa de troco para
            </h2>
            <input type="number" placeholder="50,00">
            <h2>
                CPF para Nota Fiscal
            </h2>
            <input type="number" placeholder="CPF">
        </div>
        <div class="id-pagamentos">
            <label for="" class="pix">
                <img src="" alt="">
                <h1>
                    PIX
                </h1>
            </label>
            <label for="">
                <img src="" alt="">
                <h1>
                    Crédito
                </h1>
            </label>
            <label for="">
                <img src="" alt="">
                <h1>
                    Débito
                </h1>
            </label>
        </div>
    </div>
</body>

</html>