<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/logo Acai.png" type="image/x-icon">
    <title>Sabores de Sorvete</title>
</head> 

<body>
    <header>
        <a href="cardapio.html">
            <button>
                Voltar
            </button>
        </a>
        <picture id="logoAcai">
            <img src="../static/logo Acai.png" alt="">
        </picture>
    </header>
        <form action="" method="post">
<img src="../static/img select cookies and cream.jfif" alt="">
<h2>Cookies and cream</h2>
<div class="flex">
    <button>Adicionar ao carrinho</button>
    <button>Voltar ao cardapio</button>
</div>
    </form>
       <footer>
        <p>
            <a href="https://pablo-kennediy.github.io/curriculo/" style="color: black;">
                Todos os direitos reservados | infoprodutos.org © <p id="data-hoje"></p>
            </a>
            <script>
                const dataAtual = new Date();
                const opcoesFormatacao = { year: 'numeric' };
                const dataFormatada = dataAtual.toLocaleDateString('pt-BR', opcoesFormatacao);
                const elementoData = document.getElementById('data-hoje');
                if (elementoData) {
                    elementoData.textContent = dataFormatada;
                }
            </script>

        </p>
    </footer>
</body>

</html>