<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/logo Acai.png" type="image/x-icon">
    <title>Sabores de Sorvete</title>
</head>

<body>
    <header>
        <a href="cardapio.html">
            <button>
                Voltar
            </button>
        </a>
        <picture id="logoAcai">
            <img src="../static/logo Acai.png" alt="">
        </picture>
    </header>
    <h1>escolha de Cookies and cream</h1>
</body>

</html>